header {
	height: $nav-height;
	background: #fff;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
	position: fixed;
	top: 0;
	z-index: 9000;
}

.logo-and-back {
	grid-column: 1 / 5;
	text-align: left;

	& h3 {
		font-size: $type-project-heading;
		margin: 10px 0 0 0;


		& span {
			color: $wl-prime;
		}
	}

	& a {
		color: $wl-prime;
		font-size: 16px;
		font-weight: bold;
	}
}

nav a {
	display: inline-block;
	box-sizing: border-box;
	display: inline-block;
	font-size: 17px;
	color: $wl-second;
	transition: 0.3s;	
	padding: 25px 20px;
	width: 140px;	
}

.active-marker {
	background: #efefef;
	height: 8px;
	width: 140px;
	transition: 0.3s;
	transform: translateX(-450px) translateY(0px) scaleX(1.60);
	z-index: 5;
	position: relative;
}

.contextActive .context-link,
.projectGoalsActive .project-goals-link,
.processActive .process-link,
.outcomeActive .outcome-link {
	font-weight: bold;
	color: $wl-prime;
}

.hero-unit {
	height: 620px;
}

.hero-thumb {
	grid-column: 1 / 5;
	margin-top: 150px;
}

.hero-info {
	grid-column: 6 / 13;
	text-align: left;
	margin-top: 70px;

	& ul {
		padding-left: 0;

		& li {
			font-size: $type-paragraph;
			color: #fff;
			margin-bottom: 5px;

			&::before {
				content: '';
				width: 10px;
				height: 10px;
				border-radius: 50%;
				margin-right: 15px;
				background: $wl-second;
				display: inline-block;
			}
		}
	}

	p {
		color: $wl-second;
	}
}

.hero-heading {
	font-size: 42px;
	color: #FFFFFF;
	margin-top: 40px;

	& span {
		font-weight: bold;
	}
}

.hero-subheading {
	font-weight: bold;
	font-size: 21px;
	color: $wl-second;
	margin-top: 40px;
}

.content {

	h2 {
		grid-column: 1 / 13;
		text-align: center;
		text-transform: uppercase;
		color: $wl-black;
		font-weight: bold;
		font-size: 30px;
	}

	h3 {
		grid-column: 1 / 13;
		text-align: center;
		text-transform: uppercase;
		color: $wl-black;
		font-weight: bold;
		margin-top: 40px;
		margin-bottom: 10px;
	}

	& section {
		padding-top: $nav-height;
		text-align: left;

		&.audio {
			border-top: 1px dashed #ddd;
			border-bottom: 1px dashed #ddd;
			padding-bottom: 50px;
			padding-top: 50px;
			background: #fcfcfc;
			position: relative;
		}
	}

	& p {
		grid-column: 3 / 11;
	}

	& .mock {
		grid-column: 2 / 12;
		margin-top: 10px;
		margin-bottom: 55px;
		justify-self: center;
	}

	& .half-mock {
		grid-column: span 6;
		margin-top: 10px;
		margin-bottom: 55px;
	}

	& .with-shadow {
		box-shadow: 0 2px 60px 0 rgba(155,155,155,0.40);
	}

	ul {
		grid-column: 2 / 12;
		padding: 40px;
		font-size: $type-paragraph;
		background: #FBFBFB;
		border: 1px dashed #E1E1E1;

		& li {
			margin: 25px 0;
			font-weight: bold;
		}

		& li::before {
			content: '';
			width: 16px;
			height: 16px;
			border-radius: 50%;
			background: $wl-prime;
			display: inline-block;
			vertical-align: middle;
			margin-right: 10px;
			margin-top: -4px;
		}
	}
}

.section-thumb,
.duration,
.listen-label,
audio,
video {
	grid-column: 1 / 13;
	justify-self: center;
}

.section-thumb {
	height: 130px;
}

.duration {
	color: $wl-prime;
	margin-bottom: 5px; 
	font-weight: bold;
}

.listen-label {
	margin-bottom: 25px;
}

#buttons {
	width: 100%;
	text-align: center;
	padding-top: 0;
	margin-top: 50px;
}











