$nav-height: 70px;

$wl-prime: #52DBDB;
$wl-prime-lite: rgba(133, 230, 230, 1);
$wl-second: #2B3E56;
$wl-second-lite: #2B507D;
$wl-third: #FFCD7A;

$wl-gray: #D6D6D6;

$type-heading: 87px;
$type-small-heading: 30px;
$type-paragraph: 19px;


$visual-colour: #F68EFF;
$ux-colour: $wl-prime;
$product-colour: #A68AFF;
$ixd-colour: #FFBC9A;


.grid-container {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(12, 68px);
	grid-column-gap: 30px;
	justify-content: center;
}

.section-heading {
    height: auto;
    position: relative;
    z-index: 10;
	grid-column: 1 / 13;
	z-index: 30;
    
    &::before {
        content: '';
        background: $wl-prime-lite;
        width: 430px;
        height: 28px;
        position: absolute;
        z-index: -1;
        top: 45px;
        transform: translate(-110px, 23px);
    }
}

h1 {
	font-size: $type-heading;
	color: $wl-second;
}

h2 {
	font-size: $type-small-heading;
	font-weight: normal;
}

p {
	font-size: $type-paragraph;
}